/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background: black;
     color: #fff;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header h1, header h2, header div p {
  float: left;
  padding: .5em;
  margin: 0px;
}
header h2{
  padding: .9em;
  font-weight: normal;
  font-style: italic;
}
header div{
  padding: 1em;
  float:right;
}

header {
  float:left;
  background: rgba(100,100,100,.6);
  width: 100%;
}
#img-section {
  background-image: url("../img/fishermen.jpeg");
  background-size: cover;
  height: 0;
  padding-bottom: 66.5%;
  background-size: 100% auto;
  background-repeat: no-repeat;

}
#img-section img{
  float:left;
  width: 100%;
  opacity: .5;
  margin: 0 0 0 0;
}
#blog-section{
  background-color: #548094;
  float: left;
  width: 100%;
}
#blog-section .post{
  background-size: cover;
  width: 50%;
  float: left;
  height: 300px;
}
#blog-section .post .postHeadline h3 {
  text-align: center;
  vertical-align: bottom;
}
#blog-section .post.one{
  background-image: url("../img/IMG_1460.jpeg");
}
#blog-section .post.two{
  background-image: url("../img/IMG_1489.jpeg");
}
#blog-section .post.three{
  background-image: url("../img/IMG_1491.jpeg");
}
#blog-section .post.four{
  background-image: url("../img/IMG_1514.jpeg");
}

#blog-section .postHeadline {
  padding: 1em;
  background: rgba(0,0,0, .4);
  height: 100%;
  width: 100%;
  color: white;
}
#blog-section a{
  text-decoration: none;
}

#blog-section .postHeadline:hover{
  background: rgba(0,0,0, 0);
}
footer .left {
  float: left;
  padding-top: 1.6em;
  padding-left: 5em;
}
footer .left a {
  color: white;
  text-decoration: none;
}
footer .right {
  float: right;
}
footer .right img {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 3em;
  margin-left: 2em;
}
footer .right a:last-of-type img {
  margin-right: 5em;
}
